.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-me p {
  text-align:justify;
  width: 60vw;

}

section {
  padding:20px;
}

.about-me img {
 height: auto;
 width: 200px;
}
.about-me h2 {
  text-align: left;
  padding-left: 20px;
}

.hobbies {
  text-align: left;
  padding:20px;
}

.hobbies li {
  list-style-type:square;
}

.flex-container {
  display:flex;
  /* flex-direction: row; */
  justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .about-me p {
    text-align:justify;
    width: 90vw;
  }
  .about-me img {
    width: 90vw
  }
}

.hobbies h2 {
  padding-left: 20px;
}